

<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">

    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['edit-profile']">
              <i class="fas fa-user"></i>Edit Profile
            </a>
          </li>
          <!-- Calling SignOut() Api from AuthService -->
          <li class="nav-item">
            <a class="nav-link active" (click)="authService.SignOut()" [routerLink]="">
              <i class="fas fa-sign-out-alt"></i>Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">

        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">User Profile</h1>
        </div>
        <!-- Show user data when logged in -->
        <div class="row" *ngIf="profile != undefined">
          <div class="col-md-12">
            <div class="media">
              <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="../../assets/images/dummyUser.png"
                alt="{{profile.userName}}">
              <div class="media-body">
                <h1>Hello: <strong>{{profile.userName}}</strong></h1>
                <p>User ID: <strong>{{profile.id}}</strong></p>
                <p>Name: <strong>{{profile.fullName}}</strong></p>
                <p>Department: <strong>{{profile.department}}</strong></p>
                <p>Description: {{profile.profileText}}</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </main>

  </div>
</div>
