
<div class="container pt-3">
  <div class="row justify-content-sm-center">
    <div class="col-sm-10 col-md-6">
      <div class="card border-info">
        <div class="card-header">Sign up</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 text-center">
              <img src="https://placeimg.com/128/128/nature">
            </div>
            <div class="col-md-8" (keyup.enter)="authService.SignUp(userName.value, userEmail.value, userPassword.value)">
                <input type="text" class="form-control mb-2" placeholder="Username" #userName required>
                <input type="email" class="form-control mb-2" placeholder="Email" #userEmail required autofocus>
                <input type="password" class="form-control mb-2" placeholder="Password" #userPassword required>
                <button class="btn btn-lg btn-primary btn-block mb-1" (click)="authService.SignUp(userName.value, userEmail.value, userPassword.value)">Sign up</button>
            </div>
              <div class="redirectToLogin">
                <span>Already have an account? <a class="redirect" routerLink="/sign-in">Log In</a></span>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

