table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
  }
   
  table {
    width: 300px;
  }
   th {
     height: 40px;
     padding: 5px;
     background-color: green;
   }
   td {
     height: 25px;
     padding: 5px;
   }
   
   tr.grey {
     background-color: #ddd;
   }