ul.unordered1 {
    list-style-type:square;
    background-color: green;
  }
   
  li.punkt1 {
    background-color: red;
  }
   
  li {
    text-decoration: underline;
  }
   
  ul.unordered2 {
    list-style-image: url(Lektion8pil.png);
  }
   
  ol.ordered {
    list-style-type: upper-roman;
  }