body {
    background-color: grey;
    background-image: url(Resourcer/pow.jpg);
    background-repeat:no-repeat;
    background-position: 10% 20%;
    background-attachment: fixed;
  }
   
  #div1 {
      width: 500px;
      height: 500px;
      border: solid;
      margin-left: auto;
      margin-right: auto;
      background-image: url(500x500.jpg);
  }
   
  #div2 {
      width: 500px;
      height: 500px;
      border: solid;
      margin-left: auto;
      margin-right: auto;
      background-color: red;
      opacity: 0.3;
  }
   
  h1 {
    background-color: green;
  }