body {
    margin: 0px;
  }
   
  .content {
    width:500px;
    height:500px;
    background-color: red;
    border: 5px solid black;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 30px;
  }