a:link {
    text-decoration: none;
  }
   
  a:visited {
    color:grey;
  }
   
  a:hover {
    text-decoration: underline;
  }
   
  a:active {
    color:yellow;
  }
   
  a.linkstyling2:link, a.linkstyling2:visited {
    text-decoration: none;
    font-size: 22px;
    color: blue;
  }
   
  a.linkstyling2:hover {
    text-decoration: underline;
    font-size: 30px;
  }
   
  a.linkstyling2:active {
    color:yellow;
  }