#div1 {
    width: 200px;
    height: auto;
    border-style: solid;
}
p.tekst1 {
  font-size: 2.2em;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}
 
p.tekst2 {
  font-size: 2.2em;
  font-family: Arial, serif;
  font-weight:bold;
}
 
p.tekst3 {
  color:#DDD;
}
 
p.tekst4 {
  color:red;
}
p.tekst5 {
  text-align: right;
}
p.tekst6 {
  text-decoration: none;
}
p.tekst7 {
  text-transform:capitalize;
}     