.firkant {
    width: 50%;
    height: 400px;
    border: 1px solid black;
}
 
.pow {
  width: 50%;
 
}
 
.tekst {
    font-size: 30px;
    background-color: red;
    min-height: 100px;
    overflow: hidden;
}