.float {
    float: left;
  }
   
  p {
    font-size: 26px;
   
  }
   
  p.clear {
    clear: both;
  }
   
  .div1 {
      width: 100px;
      height: 100px;
      background-color: red;
  }
   
  .div2 {
      width: 100px;
      height: 100px;
      background-color: yellow;
  }
  