.span {
    background-color: red;
    display: block;
  }
  .test_paragraf {
    background-color: yellow;
    display: inline;
  }
   
  @media screen and (max-width:300px) {
    .span {
      display: none;
    }
  }
   
  @media screen and (min-width:500px) {
    .test_paragraf {
      display: block;
    }
  }