.static {
    width: 100px;
    height: 100px;
    background-color: red;
    position: static;
  }
   
  .fixed {
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: fixed;
    top:100px;
    left:500px;
  }
   
  .relative {
    width: 100px;
    height: 100px;
    background-color: green;
    position: relative;
    top:100px;
    left:500px;
    z-index: -1;
  }
   
  .absolute {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top:100px;
    left:500px;
    z-index: -1;
  }
  