<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" [routerLink]="['scoreboard']">Scoreboard</a>
      <a class="nav-link" href="#">Members</a>
      <a class="nav-link" href="#">About</a>
      <a class="nav-link" href="#">Privacy policy</a>

      <a class="nav-link" *ngIf='!autService.isLoggedIn else elseBlock' [routerLink]="['sign-in']">Log in</a>
      <ng-template #elseBlock><a class="nav-link" [routerLink]="['profile']">Profile</a></ng-template>

    </div>
  </div>
</nav>
