<div class="maindiv">


  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>Filter by:</div>
      <div class='col-md-4'>
        <input type='text' [(ngModel)]="scoreFilter" />
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6'>
        <h4>Filtered by: {{scoreFilter}}</h4>
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table' *ngIf="scores.length">
        <thead>
          <tr>
            <th>
              <button class='btn btn-primary'>

              </button>
            </th>
            <th>Name</th>
            <th>Department</th>
            <th>Location</th>
            <th>Total Score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Score of filteredScores">
            <td>Picture of user</td>
            <td>{{Score.userName}}</td>
            <td>Not implemented, yet</td>
            <td>Not implemented, yet</td>
            <td>{{Score.points}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


