<div class="container pt-3">
  <div class="row justify-content-sm-center">
    <div class="col-sm-10 col-md-6">
      <div class="card border-info">
        <div class="card-header">Login</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 text-center">
              <img src="https://placeimg.com/128/128/nature">
            </div>
            <div class="col-md-8" (keyup.enter)="authService.SignIn(userName.value, userPassword.value)">

                <input type="text" class="form-control mb-2" placeholder="Email" #userName required autofocus>
                <input type="password" class="form-control mb-2" placeholder="Password" #userPassword required>
                <button class="btn btn-lg btn-primary btn-block mb-1" (click)="authService.SignIn(userName.value, userPassword.value)">Login</button>

            </div>
             <div class="forgotPassword">
               <a routerLink="/forgot-password">Forgot Password?</a>

               <div class="redirectToLogin">
                <span>Don't have an account?<a class="redirect" routerLink="/register-user"> Sign Up</a></span>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
