

<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">

    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="">
              <i class="fas fa-user"></i>Actionlink
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)='onBack()' [routerLink]="">
              <i class="fas fa-sign-out-alt"></i>Back to profile
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">

        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Edit Profile</h1>
        </div>
        <!-- Show user data when logged in -->
        <div class="row" *ngIf="profile != undefined">
          <div class="col-md-12">
            <div class="media">
              <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="../../assets/images/dummyUser.png"
                alt="{{profile.userName}}">

              <div class="media-body">
                <h1>Hello: <strong>{{profile.userName}}</strong></h1>
                <p>User ID: <strong>{{profile.id}}</strong></p>
                <div class="form-group">
                  <label>Full Name:</label>
                  <input class="form-control" type="text" name="full name" [(ngModel)]="profile.fullName">

                  <label>Department:</label>
                  <input class="form-control" type="text" name="department" [(ngModel)]="profile.department">

                  <label>Description:</label>
                  <textarea class="form-control" rows="5" name="description" [(ngModel)]="profile.profileText"></textarea>
                </div>
                <button class="btn btn-lg btn-primary btn-block mb-1" (click)='putProfile()'>Accept changes</button>
              </div>

            </div>
            <div class="mt-2">
              <button class="btn btn-primary" type="button">
                <i class="fa fa-fw fa-camera"></i>
                <span>Change Photo</span>
              </button>
            </div>
          </div>
        </div>

      </div>
    </main>

  </div>
</div>
