<div class="header">
  <h1>Velkommen til Skattejagten</h1>

</div>

<div class="maindiv">
  <div id="logo" >
    <img src="../../assets/images/TV_2_RGB.svg" alt="Tv2Logo" height="70pc"/>
    <hr>
  </div>



</div>
